@model IEnumerable<GroupProject.Models.Message>
@{
    ViewBag.Title = "GetIncomingMessages";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";
}



<div class="inbox-title">
    <h3>Inbox</h3>
</div>

<div class="mesagges-container">
    <div class="messages-column messages-left">
        <a class="button-default button-primary compose" href=@Url.Action("CreateMessage", "Messages")>Compose</a>
        <a class="left-link" href=@Url.Action("GetIncomingMessages", "Messages")><i class="material-icons">mail</i>Received</a>
        <a class="left-link" href=@Url.Action("ReadSentMessages", "Messages")><i class="material-icons">send</i><b>Sent</b></a>


    </div>

    <div class="messages-column messages-right">
        @foreach (var item in Model)
        {
            <div class="message-sender">
                <img class="profile-photo" src="~/img/@item.Sender.Thumbnail" />
                <h4>@item.Sender.FullName</h4>
            </div>
            if (item.IsRead)
            {
                <div class="message-body body-bold">
                    <p>@item.Body</p>
                </div>
            }
            else
            {
                <div class="message-body">
                    <p>@item.Body</p>
                </div>
            }
            <div class="message-actions">
                <a class=".msg-delete"><i class="material-icons">delete</i></a>
            </div>
        }
    </div>



    <style>
        .mesagges-container {
            display: grid;
            width: 100%;
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            grid-template-columns: 10rem auto;
        }

        .messages-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            font-size: 1rem;
            margin-right:2rem;
        }

            .messages-left a {
                transition: var(--transition);
                display: flex;
                gap: 1rem;
                align-items: center;
            }

                .messages-left a:hover {
                    text-decoration: none;
                    color: var(--color-primary);
                }

                .messages-left a i {
                    color: var(--color-gray);
                }

                    .messages-left a i:hover {
                        color: var(--color-primary);
                    }


        .messages-right {
            padding-left: 2rem;
            display: grid;
            column-gap: 1rem;
            grid-template-columns: 15rem auto 2rem;
            align-items: center;
            border-left: 2px solid var(--color-gray);
        }

        .message-sender {
            display: flex;
            gap: 1rem;
           
            margin-bottom: 1rem;
        }

        .message-body .body-bold p {
            font-weight: bold;
            color: red;
        }

        .inbox-title {
            width: 100%;
            padding: var(--card-padding);
            background-color: var(--color-secondary);
            border-radius: var(--card-border-radius);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            color: var(--color-dark);
        }

        .button-default {
            display: inline-block;
            padding: var(--button-padding);
            font-weight: 500;
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: all 300ms ease;
            font-size: 1rem;
        }

            .button-default:hover {
                opacity: 0.8;
                text-decoration: none;
            }

        .button-primary {
            background-color: var(--color-primary);
            color: var(--color-white);
        }

            .button-primary:hover {
                opacity: 0.8;
                color: var(--color-gray);
            }
    </style>
