@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="login-partial">
           
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="material-icons">logout</a></li>
        </ul>
    }
}
else
{
    <ul class="login-partial">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

<style>
    .login-partial {
        height: 100%;
        display: flex;
        align-items: center;
        gap:1rem;
    }
</style>