
<a class="sidebar-item" id="newsfeed">
    <span><i class="material-icons"> newspaper</i></span>
    <h3>Newsfeed</h3>
</a>
<a class="sidebar-item" id="people">
    <span><i class="material-icons"> people</i></span>
    <h3>People</h3>
</a>

<a class="sidebar-item" id="inbox">
    <span><i class="material-icons">mail</i></span>
    <h3>Inbox</h3>
</a>
<a class="sidebar-item" id="forum">
    <span><i class="material-icons">forum</i></span>
    <h3>Forum</h3>
</a>
<a class="sidebar-item" id="profile">
    <span><i class="material-icons">person</i></span>
    <h3>Profile</h3>
</a>
<a class="sidebar-item" id="donate">
    <span><i class="material-icons">favorite</i></span>
    <h3>Donate</h3>
</a>
<a class="sidebar-item" id="chat">
    <span><i class="material-icons">chat</i></span>
    <h3>Chat</h3>
</a>
<a class="sidebar-item" id="settings">
    <span><i class="material-icons">settings</i></span>
    <h3>Settings</h3>
</a>