* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-size: 16px;
    background-color: rgb(237,241,246);
    /*    background-color: #97c5cf;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*   padding:1rem;*/
    height: 80%;
}
#crown {
    margin-left: 1rem;
    height: 2.5rem;
    filter: invert(85%) sepia(33%) saturate(6093%) hue-rotate(7deg) brightness(109%) contrast(110%);
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/** {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}*/

/*body {
 background: #5c2404;
font-family: 'Pinyon Script', cursive;
}*/




