
@model IEnumerable<GroupProject.Models.Topic>

@{
    ViewBag.Title = "Forum";
}

<body>
    <header>
        <h2>Forum</h2>
        <div class=" search-box">
            <div>
                <select name="" id="">
                    <option value="everything">Everything</option>
                    <option value="titles">Titles</option>
                    <option value="descriptions">Descriptions</option>
                </select>
                <input type="text" name="q" id="" placeholder="search..." />
                <button><i class="fa fa-search"></i></button>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="subforum" id="subforum">
            <div class="subforum-title">
                <h1>Topics</h1>
            </div>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

        </div>
    </div>
</body>

@section scripts{
    <script>
        $(document).ready(function () {
            $.getJSON("/api/topicPosts/getAllLastTopicPosts")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        $(`<div class="subforum-row"id=${item.id}></div>`).appendTo('#subforum');
                        $(`#${item.id}`).html(

             `<div class="subforum-icon subforum-column center">
                    <i class="material-icons">note</i>
             </div>
             <div class="subforum-description subforum-column">

            <a href="/TopicPosts/Index/${item.topicId}">${item.topic.title}</a>
                   <p> <a href="/Profile/VisitProfile/${item.topic.user.id}">By ${item.topic.user.fullName}</a> <small> on ${item.topic.created}</small></p>
             </div>

    <div class="subforum-stats subforum-column center">
                    <a href="/TopicPosts/Create/${item.topicId}">Add a Post</a>
                </div>
    <div class="subforum-info subforum-column">
                    <b><h5>Last post by</h5></b> <a href="/Profile/VisitProfile/${item.sender.id}">${item.sender.fullName}</a>
                    <br/>
                    on<small">${item.post.datetime} </small>
                </div>`);

                    });
        
                });


        });
    </script>

}
<style>
    * {
        box-sizing: border-box;
    }

    html {
        font-size: 14px;
        font-family: 'Titilium Web', sans-serif;
        /*background-color: black;*/
    }

    a {
        font-weight: bolder;
    }

    h1 {
        font-size: 16px;
        font-weight: bolder;
    }

    /* home.html*/

    .container {
        margin: 20px;
        padding: 20px;
    }

    .subforum {
        margin-top: 20px;
    }

    .subforum-title {
        background-color: #292B2E;
        color: antiquewhite;
        padding: 5px;
        border-radius: 5px;
        margin: 4px;
    }

    .subforum-description * {
        margin-block: 0;
    }

    .subforum-description p {
        color: grey;
    }

    .subforum-row {
        display: grid;
        grid-template-columns: 7% 60% 13% 20%;
    }

    .subforum-stats {
        font-size: 12px;
        color: aqua;
    }

    .subforum-column {
        padding: 10px;
        margin: 4px;
        border-radius: 5px;
        background-color: #0e1125;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subforum-icon {
        font-size: 36px;
        color: aqua;
    }

    .search-box {
        border: solid 1px #52057b;
        margin-top: 20px;
        padding: 40px;
        display: flex;
        justify-content: center;
        box-shadow: 1px 2px 3px #52075b;
    }

        .search-box select {
            padding: 10px;
        }

        .search-box input {
            padding: 10px;
        }

        .search-box button {
            padding: 10px;
            background-color: #fff;
            color: #000000;
        }
</style>
