<html>
<head>
    <title>Donate us</title>
</head>
<body>

    <br />
    <br />
    <br />

    <p><strong>Φιλαράκι μήπως έχεις 1 εύρω?? Για τα τσιγάρα του Αλέξη και την Κρέπα της Αθηνάς...</strong></p>
    <form action="/Donations/CreateCheckoutSession" method="POST">
        <button type="submit" class="btn btn-danger">Πάτα όπως είσαι!!!</button>
    </form>
</body>
</html>