@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";
    }


<div>
    The info text we want to have to inform about the donation......
</div>

    @*<div class="container donate-container">
        <p><strong>Φιλαράκι μήπως έχεις 1 εύρω?? Για τα τσιγάρα του Αλέξη και την Κρέπα της Αθηνάς...</strong></p>
        <form action="/Donations/CreateCheckoutSession" method="POST">
            <button type="submit" class="btn btn-danger">Πάτα όπως είσαι!!!</button>
        </form>
    </div>

    <style>
        .donate-container{
            height:80vh;
            padding-top:4rem;
        }
    </style>*@

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1Lk9OwLnJgNQDNAUt0Nj0v1E"
                      publishable-key="pk_test_51LIzfBLnJgNQDNAUIwhDAPpfDnFBKKVQesMgna4QbtDpID7JxPuhgjHQg3TgRMbAl0pCZpUPo1uC2ww34rK7JTOi00FXDHiSNo">
</stripe-pricing-table>