<html>
<head>
    <title>Donate us</title>
</head>
<body>

    <br />
    <br />
    <br />

    <p><strong>Πάτα για να μας τα σκάσεις..Σκέψου να μάθουμε και cookies τί θα πάθεις..</strong></p>
    <form action="/Donations/CreateCheckoutSession" method="POST">
        <button type="submit" class="btn btn-danger">Πάτα όπως είσαι!!!</button>
    </form>
</body>
</html>