@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";
    }


<div class="donate-p">
    With your donation, you're working together with Kous Kous for the financial survival of its developers...!
    As you all know getting an entry level Developer job isn't a piece of cake!
    Show us your love and show yourself some empathy!
</div>

   

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1Lk9OwLnJgNQDNAUt0Nj0v1E"
                      publishable-key="pk_test_51LIzfBLnJgNQDNAUIwhDAPpfDnFBKKVQesMgna4QbtDpID7JxPuhgjHQg3TgRMbAl0pCZpUPo1uC2ww34rK7JTOi00FXDHiSNo">
</stripe-pricing-table>

<style>
   
</style>