<html>
<head>
    <title>Thanks for your order!</title>
</head>
<body>
    <h1>Μπράβο!!!! Μας έκανες πλουσιότερους κατά 2 ζεστά χιλιαρικάκια!!! Δεν συμφέρεις εσύ στην περιήγηση!!!!</h1>
    <p>
        Αν θες τα λεφτά σου πίσω στείλε στο παρακάτω mail και.....σίγουρα θα σου απαντήσουμε!!!!
        <a href="mailto:labros@example.com">labros@example.com</a>.
    </p>
</body>
</html>