@model IEnumerable<GroupProject.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Admin Users</h2>

@foreach (var user in Model) { 

    <div>@user.FullName</div>
    <a href="@Url.Action("DeleteUser", "Dashboard",new { id=user.Id})">Deactivate</a>


}

