@model GroupProject.Models.ApplicationUser

@{
    ViewBag.Title = "Profile";
}

<h3 class="table-heading">Profile</h3>
<div class="profile">
    <div class="row">
        <div class="col-md-6 profile-img">
            <img src="~/img/@Model.Thumbnail" alt="profile image" class="thumbnail profileThumb " />
        </div>
        <div class="col-md-6 profile-info">
            <h4>Full Name: @Model.FullName</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Date of Birth: @Model.DateOfBirth</h4>
        </div>
    </div>
</div>

<style>
    .profile {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.1);
        margin-bottom: 4rem;
    }
    .profileThumb{
        width:20rem;
        height:20rem;
        border-radius:20rem;
      
    }

    .profile-info {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .profile-img {
        padding-top: 2rem;
        padding-left: 5rem;
        padding-bottom: 2rem;
    }
</style>