@model GroupProject.ViewModels.NewsFeedViewModel
@{
    ViewBag.Title = "NewsFeed";
}

<h2>NewsFeed</h2>

@foreach (var item in Model.Wallposts)
            {
    <div><h2>@item.User.Name</h2>
    <strong>@item.Post.Datetime</strong>
    <p>@item.Post.Body</p>
    </div>
            }