
@{
    ViewBag.Title = "Newsfeed";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";
}


<p>
    jdsklhkljsdhkhsdkhsdkjhsdkjsdkjdhsddkhjsd
    jksdhhsdkjhjsdkdskjdshkjsdhjksdhjkdsjsdhjk
    dsksdl;sdljdsld;skklds;lkdj;sdskldskldsdsjl
    lkjsdjlsdldssdlsdl;dsksdjkldskdlsjkdlskdskjldlks
    skd;sdljsdkldsjkldsljkdsdskdskjdskljdskjdlsdjklsdkjsld
</p>