@model GroupProject.ViewModels.NewsFeedViewModel
@{
    ViewBag.Title = "Newsfeed";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";


}

<div class="people">
    @foreach(var item in Model.People) {
    <div class="person-card">
       
     @*lass="profile-photo"src="~/img/@item.Thumbnail"/>*@
       
        <p class="person-name text-capitalize">@item.FullName</p>
        <button class="button-default">Follow </button>
    </div>
    
    
    }
</div>
<div class="newsfeed">
    <div class="create-post">
       
            <img class="profile-photo"src="~/img/@ViewBag.LoggedUser.Thumbnail"/>
       
        <h4>Whats on your mind?</h4>
        <button class="button-default button-primary">+ Post</button>
    </div>

    <div class="posts" id="posts">

    </div>

</div>
<style>
    .people {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10rem;
        gap: 0.5rem;
    }
    .person-card{
        padding:var(--card-padding);
        border-radius:var(--card-border-radius);
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        color:var(--var-color-white);
        font-size:0.75rem;
        width:5rem;
        height:100%;
        background-color:lightpink;
    }
</style>