@model IEnumerable<GroupProject.Models.ApplicationUser>
    @{ 
        ViewBag.Title = "Index"; 
     }

<h1>Followers</h1>

<ul> 
 @foreach(var user in Model)
 {
    <li>
        @user.Email
    </li>
 }
</ul>



