@model IEnumerable<GroupProject.Models.ApplicationUser>
    @{ 
        ViewBag.Title = "Index"; 
     }

<h1>Followers</h1>

<ul> 
 @foreach(var user in Model)
 {
    <li>
        <img src="~/img/@Url.Content(user.Thumbnail)" class="userImage" />
        <div>
            @Html.ActionLink(@user.FullName, "Index", "Profile", new { id = user.Id }, null)
        </div>
    </li>
 }
</ul>



