
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";
}

<h2>MyProfile</h2>

@section Scripts{
    <script>

        $('document').ready(function () {
            $('#profile').addClass('active');

        })
    </script>
    
    
    }