@model GroupProject.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_KalikatzarosLayout.cshtml";
}

<div class="my-profile">
    
    <div class="my-profile-header">
        <div class="my-profile-left">
            <div class="my-profile-photo">
                <img src="~/img/@Model.User.Thumbnail" />
            </div>
            <div class="my-profile-about">
                <h3 class="my-profile-name">
                    @Model.User.FullName
                </h3>
                <small>@Model.User.Email</small>
            </div>
        </div>
    </div>

    <p class="my-profile-description">

        shdjshfksjdhfkjdshfkjsdhkfhdskjfhdskjfhsdkjhfkjsd
        kdsfjsdlkfjsdlkfjsdfldksfjlkdsjflkdsjflkdsjfkl
        kdfjsdfjsdkljflksdjfkldsjflkdsfjlkdsfjlkdsffdfjd
    </p>

    <div class="my-profile-right">
        <h3>Followers</h3>
        <h3>Following</h3>
    </div>

</div>
@section Scripts{
    <script>

        $('document').ready(function () {
            $('#profile').addClass('active');

        })
    </script>


}

<style>
    .my-profile {
       
        width:100%;
        background-color: var(--color-white);
        border-radius:var(--card-border-radius);
        display:flex;
       flex-direction:column;
        gap:1rem;
        justify-content:space-between;
        padding:var(--card-padding);
    }
        .my-profile-photo img {
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            object-fit: cover;
        }

    .my-profile-header{
        display:flex;
        justify-content:space-end;
       
    }
    .my-profile-left{
        display:flex;
        gap:1rem;
    }
    .my-profile-about {
        display: flex;
        flex-direction: column;
    }

    .my-profile-name{
        
    }
    .my-profile-description{
       padding:0 6rem;
    }
    my-profile-about small {
        color: var(--color-gray);
    }
</style>